#nav1 {
    display: flex;
    flex-direction: row;
    margin: 2%;
    /* position: fixed; */
}

img {
    width: 15%;
    height: 50px;
}

.nav {
    margin: 1% 1%;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link4 {
    margin-right: 20%;
}

button {
    background-color: #ff7753;
    color: white;
    padding: 15px 30px;
    font-weight: 400;
    margin-top: -10px;
    border: none;
    border-radius: 2px;
}
